:root {
    --cornsilk: #f6f1d1;
    --ash-gray: #cfd7c7;
    --verdigris: #70a9a1;
    --cerulean: #40798c;
    --rich-black: #0b2027;
    overscroll-behavior: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--rich-black);
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: light;
    font-style: normal;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}


.welcome-page {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.user-page {
    display: none;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.user-page .buttons-section {
    display: flex;
    align-items: center;
}

.user-page .buttons-section .username {
    margin-right: 30px;
}

.welcome-page .navbar {
    padding: 20px 20px;
    background: var(--cornsilk);
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.user-page .navbar {
    padding: 20px 20px;
    background: var(--cornsilk);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.welcome-page .navbar .logo-section,
.user-page .navbar .logo-section {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.welcome-page .navbar .buttons-section,
.user-page .navbar .buttons-section {
    display: inline-flex;
    margin-right: 60px;
}

.welcome-page .navbar .buttons-section button,
.user-page .navbar .buttons-section button {
    background: var(--rich-black);
    color: var(--cornsilk);
    padding: 10px 20px;
    border-radius: 20px;
    transition-duration: 0.2s;
    border: none;
}

.welcome-page .navbar .buttons-section button:focus,
.user-page .navbar .buttons-section button:focus {
    border: none;
}

.welcome-page .navbar .buttons-section button:hover,
.user-page .navbar .buttons-section button:hover {
    color: var(--rich-black);
    background-color: var(--cornsilk);
    outline: 1px solid var(--rich-black);
}

.welcome-page .navbar .logo-section .logo,
.user-page .navbar .logo-section .logo {
    width: 50px;
    margin-right: 20px;
}


.welcome-page .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.welcome-page .body .welcome-text {
    font-size: 1.5rem;
    color: grey
}

.welcome-page .body .chill-bank-text {
    font-size: 7rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button-dark {
    background: var(--cerulean);
    color: whitesmoke;
    border: none;
    border-radius: 20px;
    transition-duration: 0.2s;
}

.button-dark:focus {
    border: none;
}

.button-dark:hover {
    outline: 1px solid var(--rich-black);
    background: white;
    color: var(--rich-black);
}

.welcome-page .login-form-button {
    margin-top: 5%;
    padding: 1% 5%;
    font-size: 1.2rem;
}

.login-section {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition-duration: 0.3s;
}

.welcome-page .login-section .background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.welcome-page .login-section .form {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 20px;
}

.welcome-page .login-section .form * {
    margin-top: 10%;
}

.welcome-page .login-section .form input {
    background: var(--ash-gray);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.welcome-page .login-section .form button {
    padding: 5px 30px;
    align-self: flex-end;
}

.welcome-page .login-section .form .close-button {
    position: absolute;
    top: 0;
    right: 25px;
    padding: 0;
    background: none;
    border: none;
    transition-duration: 0.2s;
}

.welcome-page .login-section .form .close-button:focus {
    border: none;
}

.welcome-page .login-section .form .close-button:hover {
    color: var(--ash-gray);
}

.user-page .body {
    display: flex;
    flex-grow: 1;
    padding: 5%;
    gap: 20px;
}

.user-page .body .operations-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;
}

.user-page .body .operations-section .operation-section {
    border-radius: 50px;
    padding: 20px 20px 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    gap: 40px;
}

.user-page .body .operations-section .operation-section .submit-button {
    flex: 2;
    text-align: center;
    border: none;
    background: var(--rich-black);
    color: whitesmoke;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition-duration: 0.2s;
}

.user-page .body .operations-section .operation-section .submit-button:hover {
    background: var(--cornsilk);
    color: var(--rich-black);
    outline: 2px solid var(--rich-black);
    transform: translateY(-5px)
}

.user-page .body .operations-section .operation-section .submit-button:active {
    transform: translateY(0);
    background: var(--ash-gray);
}

.user-page .body .operations-section .operation-section .input-section {
    flex: 5
}

.user-page .body .operations-section .operation-section input {
    margin-top: 5px;
    width: 80%;
    border-radius: 10px;
    border: none;
    padding: 2px 0 2px 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.user-page .body .operations-section .withdrawal-section {
    background: var(--verdigris);
}

.user-page .body .operations-section .deposit-section {
    background: var(--cerulean);
}

.user-page .body .operations-section .transfer-section {
    background: var(--ash-gray);
}

.user-page .body .user-data-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}

.user-page .body .user-data-section .statistics-section {
    flex: 1;
    border-radius: 50px;
    background: var(--rich-black);
}


.user-page .logout-modal {
    display: flex;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition-duration: 0.3s;
}

.user-page .logout-modal .background {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
}
.user-page .logout-modal .form {
    background: white;
    z-index: 1;
    padding: 35px 50px;
    border-radius: 50px;
}

.user-page .logout-modal .form * {
    margin-top: 10px;
}

.user-page .logout-modal .form .options {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.user-page .logout-modal .form .options button {
    border: 0;
    padding: 10px 20px;
    border-radius: 20px;
    transition-duration: 0.3s;
}

.user-page .logout-modal .form .options .yes:hover {
    background: darkseagreen;
}

.user-page .logout-modal .form .options .no:hover {
    background: tomato;
}

.user-page .body .user-data-section .statistics-section {
    display: flex;
    align-items: center;
    padding: 10px 30px;
}

.user-page .body .user-data-section .statistics-section * {
    color: whitesmoke;
}

.user-page .body .user-data-section .statistics-section .amount {
    font-size: 2rem;
    font-weight: bold;
}


.user-page .body .user-data-section .statistics-section .withdraw-section .amount {
    color: var(--verdigris);
}

.user-page .body .user-data-section .statistics-section .deposit-section .amount {
    color: var(--cerulean);
}

.user-page .body .user-data-section .statistics-section .transfer-section .amount {
    color: var(--ash-gray);
}

.user-page .body .user-data-section .statistics-section .amount::after {
    content: "CHILL";
    font-weight: lighter;
    font-size: xx-small;
    margin-left: 4px;
}

.user-page .body .user-data-section .statistics-section .statistic-section {
    flex: 1;
    text-align: center;
}

.user-page .body .user-data-section .operations-history {
    display: flex;
    flex-direction: column;
    flex: 3 0 200px;
    gap: 10px;
    overflow-y: scroll;
}

.user-page .body .user-data-section .operations-history::-webkit-scrollbar {
    width: 10px;
}

.user-page .body .user-data-section .operations-history::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
}

.user-page .body .user-data-section .operations-history::-webkit-scrollbar-track-piece {
    background-color: white;
}

.user-page .body .user-data-section .operation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: whitesmoke;
    border: 2px solid var(--rich-black);
    border-radius: 20px;
    padding: 10px 30px;
}

.user-page .body .user-data-section .operation .type {
    flex: 3;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    font-size: small;
    border-radius: 10px;
    font-weight: lighter;
    padding: 5px 0;
}

.user-page .body .user-data-section .operation .withdrawal {
    background: var(--verdigris);
}

.user-page .body .user-data-section .operation .deposit {
    background: var(--cerulean);
}

.user-page .body .user-data-section .operation .transfer {
    background: var(--ash-gray);
}

.user-page .body .user-data-section .operation .amount {
    flex: 5;
    font-weight: bold;
}

.user-page .body .user-data-section .operation .date {
    flex: 4;
}